<div class="wrapper">
  <header class="main-header d-flex align-items-center justify-content-between px-4">
    <button id="menu-btn" class="btn btn-outline-dark" (click)="toggleSidebar()">
      <i class="bi bi-list"></i> <!-- Using Bootstrap icons -->
    </button>
    <img src="https://i.postimg.cc/Y9KLVq7F/logo-png.png" alt="Logo" >
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </header>
      
      <!-- Sidebar -->
      <aside class="sidebar bg-light shadow" [class.active]="isSidebarActive" id="sidebar">
        <nav (click)="navclose()" class="nav flex-column mt-5 p-3">
          <a routerLink="adashboard" class="nav-link text-dark fw-bold"><i class="bi bi-card-checklist"></i>Home</a>
          <a routerLink="newtickets" class="nav-link text-dark fw-bold"><i class="bi bi-envelope-plus"></i>New Tickets</a>
          <a routerLink="inprogress" class="nav-link text-dark fw-bold"><i class="bi bi-card-checklist"></i>Progress Tickets</a>
          <a routerLink="resolvedtickets" class="nav-link text-dark fw-bold"><i class="bi bi-lightbulb"></i>Resolved Tickets</a>
        </nav>
      </aside>
  <div class="content pt-5" [class.shifted]="isSidebarActive">
    <div class="container mt-5">
      <!-- Routed components will appear here -->
    </div>
  </div>

</div> 