<div class="query-container bg-white shadow rounded p-4 mx-auto">
  <h5 class="text-center text-muted border-bottom pb-3 mb-4">Query Information</h5> <!-- Sleek header -->

  <div class="table-responsive">
    <table class="table table-hover align-middle table-striped">
      <thead class="table-dark">
        <tr>
          <th class="text-center">Query ID</th>
          <th class="text-center">Customer Name</th>
          <th class="text-center">Query Description</th>
          <th class="text-center">Status</th>
          <th class="text-center">Response</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let query of tickets">
          <td class="text-center">{{ query.ticket_id }}</td>
          <td class="text-center">{{ query.customer_id }}</td>
          <td class="text-center">{{ query.description }}</td>
          <td class="text-center">
            <span>
              {{ query.status }}
            </span>
          </td>
          <td class="text-center">
            <span>
              {{ query.message }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
