/* Container styles */
.container {
    padding: 20px;
    background-color: #f7f7f7;
    min-height: 100vh;
  }

  h2 {
    text-align: center;
    color: #007bff;
    margin-top: 70px;
  }
  
  /* Table styles */
  .tickets-table {
    width: 75%;
    justify-content: center;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 180px;
    margin-top: 70px;
  }
  
  .tickets-table th,
  .tickets-table td {
    padding: 12px 15px;
    text-align: left;
  }
  .tickets-table td {
    border: 1px solid #ddd;
    color: #333;
  }
  
  
  .tickets-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  .tickets-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tickets-table tr:hover {
    background-color: #bad7ec;
    cursor: pointer;
  }
  
  /* Popup styles */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup select {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
  }
  
  .description h4 {
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 1em;
    color: #555;
  }
  
  .description p {
    font-size: 0.95em;
    color: #666;
  }
  
  .admin-input textarea {
    width: 95%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    font-size: 0.9em;
    position: relative;
    margin-right: 10px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .actions button {
    padding: 8px 16px;
    font-size: 0.9em;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .actions button:nth-child(1) {
    background: #28a745;
  }
  
  .actions button:nth-child(2) {
    background: #ffc107;
  }
  
  .actions button:nth-child(3) {
    background: #17a2b8;
  }
  
  .actions button:hover {
    opacity: 0.9;
  }
  