.ticket-container {
  
  max-width: 600px;
  margin: 40px auto;
  margin-top: 90px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.ticket-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4CAF50;
  font-weight: bold;
  border-bottom: 2px solid #4CAF50;
  display: inline-block;
  padding-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

select, textarea, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

select:focus, textarea:focus, input:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.4);
}

.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
}

button {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  margin-left: 140px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}


