<div class="dashboard-container">
    <div class="analytics-cards">
      <div class="card ">
        <h3>New Tickets</h3>
        <p class="stat">{{tickets}}</p>
        <p class="growth">Increased by 60%</p>
      </div>
      <div class="card ">
        <h3>Tickets In Progress</h3>
        <p class="stat">{{ptickets}}</p>
        <p class="growth">Decreased by 10%</p>
      </div>
      <div class="card ">
        <h3>Tickets Solved</h3>
        <p class="stat">{{rtickets}}</p>
        <p class="growth">Increased by 15%</p>
      </div>
    </div>
  
</div>