
*{
    margin: 0px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Nab Bar Elements */

.main_nav {
    position: fixed;
    width: 100%;
    background-color: #511BD2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.main_nav img {
    height: 150px;
    margin-left: -80px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
}

ul li {
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: large;
    font-weight: 700;
}

ul li a {
    color: #fff;
    text-decoration: none;
    
}
.button_elem {
    background-color: #25d3d3;
    padding: 7px;
    border-radius: 20px;
}
.button_elem a {
    color: #fff;
}

/* Main Body Elements */
.home_page {
    height: 100vh;
}
.main_body {
    background-image: url('https://crm-frontend.s3.eu-north-1.amazonaws.com/image/wave.png');
    width: 100%;
    height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.text_div {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.4;
    margin-bottom: 50px;
}

.text_div h2 {
    font-weight: 600;
    font-size: 28px;
}

.text_div p {
    font-weight: 400;
}
.main_button {
    background-color: #25d3d3;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    border-radius: 0px;
}
.main_image {
    margin-top: 40px;
    height: 300px;
}

/* Service Page */
.service_page {
    height: 80vh;
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
}
.service_top_para {
    font-weight: 400;
    margin-left: 200px;
}

.service_top_h1 {
    font-weight: 600;
    margin-left: 200px;
}

.service_div_container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card_main {
    background-color: #fff;
    margin: 50px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    
}

.card_h1 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 10px;
}

.service_card_para {
    font-weight: 400;
}
/* About Page */
.about_page {
    height: 80vh;
    margin-top: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    
}

.about_text_div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
    line-height: 2.0;
}

.about_text_para {
    font-weight: 500;
}

.about_main_para {
    font-weight: 300;
}

.about_text_h1 {
    font-weight: 600;
}

.about_text_div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 300;
}

.about_text_div div img {
    height: 40px;
    margin-right: 10px;
}
.about_image {
    height: 300px;
    margin-top: 100px;

}

/*Insights Page*/

.insight_text_h1 {
    font-weight: 600;
    margin-left: 150px;
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.insight_card_main {
    padding: 10px;
    height: 260px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 4px 8px 16px #464444;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px;
    transform: scale(1);
}
.insight_card_main:hover {
    transform: scale(1.1);
    transition: 1s;
}
.topic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card_image {
    height: 50px;
    margin-right: 10px;
}

.card_para {
    border-bottom: 3px solid #511BD2;
    padding-bottom: 10px;
}

.insight_card_main ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    margin-top: 10px;
}

.insight_card_main ul li {
    font-weight: 300;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
} 

.insight_card_main ul li spam {
    font-weight: 400;
    font-size: 16px;
}

/* Contact Page */

.contact_div {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.cantact_imag {
    height: 400px;
}

.main_form_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5;
}

.contact_h1 {
    font-weight: 600;
}

.contact_p {
    font-weight: 400;
    margin-top: 10px;
}

.form_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form_div input {
    border: 1px solid #6f6b6b;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 5px;
}

.form_div textarea {
    border: 1px solid #6f6b6b;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.send_btn {
    background-color: #25d3d3;
    align-self: flex-start;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.fotter_page {
    margin-top: 50px;
    padding: 40px;
    background-color: #511BD2;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.address_page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2.0;
}

.icons_group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon_image {
    margin-right: 20px;
    height: 25px;
}

.right_side_div {
    display: flex;
    flex-direction: row;
}
.right_side_div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 1.5;
}

.footer_list_style {
    font-weight: 400;
}

.bottom_fotter {
    background-color: #511BD2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid;
}

.bottom_logo_image {
    height: 140px;
    margin-right: 10px;
}

.bottom_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 20px;
}

.bottom_left p {
    margin-right: 15px;
    font-weight: 300;
}

.bottom_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    margin: 20px;
}

.bottom_right p {
    margin-left: 15px;
    font-weight: 300;
}