<div class="main_nav">
    <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/cecw.png" alt="Logo">
    <ul>
      <li><a href="#about_page">About</a></li>
      <li><a href="#service_page">Services</a></li>
      <li>
        <a (click)="toggleDropdown()" data-toggle="dropdown">Login</a>
        <ul class="dropdown" [class.visible]="dropdownVisible">
          <li routerLink="login">User</li>
          <li routerLink="alogin">Admin</li>
          <li routerLink="superlogin">Super Admin</li>
        </ul>
      </li>
      <li class="button_elem"><a href="#contact_div">Contact Us</a></li>
    </ul>
  </div>
  

<div class="home_page">
    <div class="main_body">
        <div class="text_div">
            <h2>We connect businesses</h2>
            <h2>and customers with a</h2>
            <h2>seamless ticketing system</h2>
            <p>Our platform empowers admins to efficiently manage queries and <br> equips customers with the tools they need to raise and track <br> issues effortlessly</p>
            <div style="margin-top: 20px;">
                <a routerLink="raiseTicket" class="main_button" routerLink="login">Reach Out to Us</a>
            </div>
        </div>
        <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/top.png" class="main_image"/>
    </div>
</div>

<div id="service_page" class="service_page">
    <p class="service_top_para">We are Offering</p>
    <h1 class="service_top_h1">Query Management Services</h1>
    <div class="service_div_container">
        <div class="card_main" id="">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/ticket_1.svg" alt="">
            <h1 class="card_h1">Seamless Ticket Management</h1>
            <p class="service_card_para">Easily create, assign, and track tickets. Categorize tickets by prionty and status</p>
        </div>
        <div class="card_main" id="">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/realtime_2.svg" alt="">
            <h1 class="card_h1">Real-Time Updates</h1>
            <p class="service_card_para">Get instant notifications for ticket updates, status changes, and admin actions.</p>
        </div>
        <div class="card_main" id="">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/analytic_4.svg" alt="">
            <h1 class="card_h1">Analytics Dashboard</h1>
            <p class="service_card_para">Gain insights into ticket trends and resolution times.</p>
        </div>
        <div class="card_main" id="">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/multi_5.svg" alt="">
            <h1 class="card_h1">Multi-User Access</h1>
            <p class="service_card_para">Separate login portals for admins and customers</p>
        </div>
        <div class="card_main" id="">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/suggest_6.svg" alt="">
            <h1 class="card_h1">Suggestion Forums</h1>
            <p class="service_card_para">Collect valuable feedback via a suggestion forum to improve services.</p>
        </div>
    </div>
</div>

<div id="about_page" class="about_page">
    <div class="about_text_div" >
        <p class="about_text_para">Our work process</p>
        <h1 class="about_text_h1">Discover a New Way to Resolve <br>Queries with Us!</h1>
        <p class="about_text_para">Revolutionizing Query Resolution</p>
        <p class="about_main_para">Revolutionize your customer interaction process with our advanced <br>logistics CRM. From efficient ticket management and real-time updates to <br>actionable analytics</p>
        <div><img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/tick.png"/>Effortless Query Submission and Tracking.</div>
        <div><img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/tick.png"/>Real-Time Notifications and Instant Updates.</div>
        <div><img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/tick.png"/>Discussion, Collaboration, and Suggestion Forums.</div>
    </div>
    <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/middle.png" alt="" class="about_image" >
</div>



<div id="contact_div" class="contact_div">
    <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/customer.png" alt="" class="cantact_imag">
    <div class="main_form_div">
        <h1 class="contact_h1">Got A Problem</h1>
        <p class="contact_p">Let us assist you</p>
        <div class="form_div">
            <input type="text" placeholder="Name*">
            <input type="email" placeholder="Email*">
        </div>
        <textarea name="text" id="" cols="30" rows="10" placeholder="Message*"></textarea>
        <a routerLink="login" class="send_btn">Send</a>
    </div>
</div>
<div class="fotter_page">
    <div class="address_page">
        <p>Krishnankovil, Srivilliputhur, Virudhunagar district Tamil Nadu, India</p>
        <p>+91 883456 4789, +91 982 345 3242</p>
        <p>ceccustomer&#64;gmail.com</p>
        <h3>Social Share</h3>
        <div class="icons_group">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/github.png" alt="" class="icon_image">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/facebook.png" alt="" class="icon_image">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/twitter.png" alt="" class="icon_image">
            <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/insta.png" alt="" class="icon_image">
        </div>
    </div>
    <div class="right_side_div">
        <ul>
            <li>Social Share</li>
            <li class="footer_list_style">Home</li>
            <li class="footer_list_style">About</li>
            <li class="footer_list_style">Services</li>
            <li class="footer_list_style">Contact</li>
        </ul>
        <ul>
            <li>Company</li>
            <li class="footer_list_style">Partner</li>
            <li class="footer_list_style">Investors</li>
            <li class="footer_list_style">Partners</li>
            <li class="footer_list_style">FAQ</li>
        </ul>
    </div>
</div>
<div class="bottom_fotter">
    <div class="bottom_left">
        <img src="https://crm-frontend.s3.eu-north-1.amazonaws.com/image/cecw.png" alt="" class="bottom_logo_image">
        <p>2024-2025. All rights reserved</p>
        <p>Designed By: CodeRed</p>
    </div>
    <div class="bottom_right">
        <p>Privacy Policy</p>
        <p>Customer Support</p>
        <p>Careers Guide</p>
    </div>
</div>


